# ~/.config/starship.toml

format = "$gcloud$kubernetes$python\n$time <$username@$hostname:$directory$git_branch$git_status $cmd_duration$status > "

command_timeout = 300

# Disable the blank line at the start of the prompt
add_newline = false

[cmd_duration]
disabled = false
min_time = 1000
format = '$duration '

[time]
disabled = false
time_format = "%H:%M:%S"
format = "[$time](none)"

[username]
disabled = false
show_always = true
format = "[$user](cyan)"

[hostname]
disabled = false
ssh_only = false
format = "[$hostname](cyan)"
{{- if .work.enabled }}
aliases = {
  "nick-kuzmik-ML-L2KCW7KQTD" = "adro",
}
{{- end }}

[directory]
disabled = false
truncate_to_repo = true
use_logical_path = true
format = "[$path](bold blue)"

[status]
disabled = false
symbol = "[\\$](red)"
success_symbol = "[\\$](green)"
format = "[$symbol](none)"
map_symbol = false

[git_branch]
disabled = false
symbol = "?"
truncation_symbol = ""
ignore_branches = []
format = "[\\($branch\\)](green)"

[git_status]
disabled = false
style = "yellow"
up_to_date = "!"
format = "[\\($all_status\\)]($style)"

{{- if .work.enabled }}
[gcloud]
format = '[gcp](cyan):[$account]($style)/[$project]($style), '
disabled = false
style = "yellow"

[gcloud.region_aliases]
us-central1 = 'usc1'
europe-west3 = 'euw3'
{{ else }}
[gcloud]
disabled = true
{{- end }}

[kubernetes]
format = '[kube](cyan):[$context]($style)/[$namespace]($style)'
disabled = false
style = "yellow"

# assumes all stacks are prod, even though we have some test stacks; to deal with later
[[kubernetes.contexts]]
context_pattern = "(?<cluster>stack-\\d{4})-(?P<region>.+)-\\d{2}.+"
context_alias = "$region/prod-$cluster"
style = "bold red"

# filter out the data-products-staging cluster from the prod grouping
[[kubernetes.contexts]]
context_pattern = ".+-(prod|production)-.+"
style = "bold red"

[[kubernetes.contexts]]
context_pattern = ".+fedramp-demo.+"
context_alias = "fedramp-prod"
style = "bold red"

[[kubernetes.contexts]]
context_pattern = ".+fedramp-test.+"
context_alias = "fedramp-staging"

# [[kubernetes.contexts]]
# context_pattern = ""
# context_alias = ""
# style = "bold red"

[python]
disabled = false
pyenv_version_name = true
pyenv_prefix = 'pyenv'
style = "dimmed green"
symbol = ""
format = ', [${pyenv_prefix}](dimmed cyan):[(${version})($virtualenv)](yellow)'

# claude
[profiles]
claude-code = "$claude_model$claude_context$claude_cost\n$directory$git_branch$git_status"

[claude_model]
format = "[$symbol$model]($style) "
symbol = "🤖 "
style = "bold blue"
