# ~/.config/chezmoi/config

progress: true
sourceDir: {{ .chezmoi.homeDir }}/.local/share/chezmoi
verbose: false

encryption: age
age:
    identity: "{{ .chezmoi.homeDir }}/.config/chezmoi/age-key.txt"
    recipient: "age1cc3utzfgk7r0r4jkd322k46ax5mth07qjevm6nvw0a6pq7hh84mqln0hhr"

{{ if lookPath "delta" -}}
diff:
    command: delta
{{ end }}

{{- if lookPath "zed" }}
edit:
    command: zed
    args: -n -w
    minDuration: 0
    watch: true
    apply: true
{{- end }}

git:
    autoAdd: true
    autoPush: false

data:
    fullName: {{ promptStringOnce . "fullName" "Full name" "Nick Kuzmik" | quote }}
    email: {{ promptStringOnce . "email" "Email address" "nick@kuzmik.org" | quote }}
    computerName: {{ promptStringOnce . "computerName" "Computer name" | quote }}
    osid: {{ includeTemplate "osid" . }}
    workMode: {{ promptBoolOnce . "work" "Work mode enabled" false }}
