# ~/.config/chezmoi/config

# https://www.chezmoi.io/reference/configuration-file/
# Requires `delta` to do the diff, and sublime to run edit

encryption: age
# mode: symlink
progress: true
sourceDir: {{ .chezmoi.homeDir }}/.local/share/chezmoi
verbose: false

age:
    identity: "~/.ssh/id_ed25519"
    recipient: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBiEzhSMxThq5Gu42sm6ePSpYTezqq4PF6PGEtZ0qmZM"

diff:
    command: delta

edit:
    command: subl
    args: -w
    minDuration: 0
    watch: true
    apply: true

git:
    autoAdd: true
    autoPush: false
