# ~/.aliases

alias bo='brew update && brew outdated'
alias cz='chezmoi'
alias lsl='ls -halG'
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias vg='rg --vimgrep'
alias vim='nvim'
alias wget='wget --no-hsts'
alias flushdns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'
alias k='kubectl'
alias kx='kubectx'
alias kn='kubens'
alias parse_jwt="jq -R 'split(".") | .[1] | @base64d | fromjson'"
# fix the pam file to allow touch id to auth sudo. macos updates revert this.
alias fixsudo="if grep -q pam_tid /etc/pam.d/sudo; then echo 'no need'; else (echo 1a; echo 'auth       sufficient     pam_tid.so'; echo .; echo w) | sudo ed - /etc/pam.d/sudo; fi"

{{- if eq .chezmoi.hostname "arcadia" }}
# persona stuff
alias dcom='docker compose'
alias cpw='cd ~/Code/persona-web'
{{- end }}
