#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
# TBH I don't use Linux On The Desktop:tm: much right now, so this isn't terribly valuable
sudo apt install ripgrep btop nvim delta
{{ else if eq .chezmoi.os "darwin" -}}
brew bundle --file {{ .chezmoi.sourceDir}}/misc/Brewfile --no-lock
{{ end -}}

