#!/bin/bash
{{ if eq .chezmoi.os "darwin" }}
# setup sudo to accept touchid
if ! grep -q pam_tid /etc/pam.d/sudo; then
  (echo 1a; echo 'auth       sufficient     pam_tid.so'; echo .; echo w) | sudo ed - /etc/pam.d/sudo
else
  echo '=> macOS: no need to update sudoers'
fi
{{ end }}
