# ~/.config/mise/config.toml
# See https://github.com/jdx/mise/blob/main/README.md for docs

min_version = "2025.5.15"

[tools]
go = "latest"
ruby = "latest"
terraform = "latest"
{{- if eq .chezmoi.hostname "adro" }}
gcloud = "latest"
{{- end }}

[settings]
always_keep_download                  = false
always_keep_install                   = false
go_set_goroot                         = true
idiomatic_version_file_enable_tools   = ["ruby"]
verbose                               = false
