# ~/.config/mise/config.toml
# See https://github.com/jdx/mise/blob/main/README.md for docs

min_version = "2026.6.0"

[settings]
auto_install                        = false
always_keep_download                = false
always_keep_install                 = false
go_set_goroot                       = true
idiomatic_version_file_enable_tools = ["ruby"]
minimum_release_age                 = "7d"
verbose                             = false

# try to install binaries first
ruby.compile                        = false
node.compile                        = false
python.compile                      = false

[tools]
go            = {
  version     = "latest"
}
ruby          = {
  version     = "latest",
  postinstall = "gem install pry"
}
terraform     = {
  version     = "latest"
}
{{- if .workMode }}
gcloud        = {
  version     = "latest",
  postinstall = "gcloud components install gke-gcloud-auth-plugin"
}
{{- end }}
