#!/usr/bin/env bash
set -Eeuox pipefail

{{ if eq .osid "linux-arch" }}
# arch specific preparation

## install yay
sudo pacman -S --needed git base-devel

pushd `mktemp -d`
    git clone https://aur.archlinux.org/yay.git
    pushd yay
        makepkg -si --noconfirm
    popd
popd

# other stuff, i dont have an arch machine handy right now

{{ else if eq .osid "linux-debian" }}
# debian specific preparation

## setup the debian repo for the 1password cli
curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
    sudo gpg --dearmor --yes --output /usr/share/keyrings/1password-archive-keyring.gpg && \
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" | \
    sudo tee /etc/apt/sources.list.d/1password.list && \
    sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/ && \
    curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | \
    sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol && \
    sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22 && \
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
    sudo gpg --dearmor --yes --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg

## install extrepo and enable mise
sudo apt install -y extrepo
sudo extrepo enable mise

sudo apt update
sudo apt install mise 1password-cli -y
{{ end }}

# dump the age key to the chezmoi config directory
eval "$(op signin)"

op read --account=my.1password.com "op://personal/chezmoi age key/private key" > ~/.config/chezmoi/age-key.txt
chmod 600 ~/.config/chezmoi/age-key.txt

# fix the remote URL for the dotfiles repo since it's HTTPS by default
pushd {{ .chezmoi.sourceDir }}
  git remote set-url origin git@github.com:kuzmik/dotfiles.git
popd
