# ~/.config/zsh/.zshrc

# zmodload zsh/zprof

### User configuration specific to nick
export PATH="$HOME/.local/bin:$HOME/.local/share/mise/shims:$PATH:/usr/local/bin"
export CLICOLOR=1
export EDITOR="nvim"
export GUI_EDITOR="cursor"
export HISTORY_IGNORE='(ls|cd|cd -|pwd|exit|date|* --help)'
export HOMEBREW_NO_ENV_HINTS=1
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LC_COLLATE=C
export LSCOLORS=ExGxBxDxCxEgEdxbxgxcxd
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
export ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE="20"

HISTSIZE=50000
SAVEHIST=1000000000
WORDCHARS="*?[]~&;!$%^<>"

setopt AUTO_PUSHD               # Push the old directory onto the stack on cd.
setopt CDABLE_VARS              # Change directory to a path stored in a variable.
setopt EXTENDED_GLOB            # Use extended globbing syntax.
setopt EXTENDED_HISTORY         # Write the history file in the ':start:elapsed;command' format.
setopt HIST_EXPIRE_DUPS_FIRST   # Expire a duplicate event first when trimming history.
setopt HIST_FIND_NO_DUPS        # Do not display a previously found event.
setopt HIST_IGNORE_ALL_DUPS     # Delete an old recorded event if a new event is a duplicate.
setopt HIST_IGNORE_DUPS         # Do not record an event that was just recorded again.
setopt HIST_IGNORE_SPACE        # Do not record an event starting with a space.
setopt HIST_SAVE_NO_DUPS        # Do not write a duplicate event to the history file.
setopt PUSHD_IGNORE_DUPS        # Do not store duplicates in the stack.
setopt PUSHD_SILENT             # Do not print the directory stack after pushd or popd.
setopt SHARE_HISTORY            # Share history between all sessions.
unsetopt CORRECT                # Spelling correction
unsetopt FLOW_CONTROL           # Ctrl+S and Ctrl+Q usually disable/enable tty input. This disables those inputs

# go back to normal keybindings
# see https://stackoverflow.com/questions/23128353/zsh-shortcut-ctrl-a-not-working
bindkey -e

# fucking delete key
bindkey "^[[3~" delete-char

source "$ZDOTDIR/aliases"

# TODO: mac only. lots of this repo is mac only i'd bet.
if [[ -x /opt/homebrew/bin/brew ]]; then
  _brew_cache="${XDG_CACHE_HOME}/brew_shellenv.zsh"
  if [[ ! -f "$_brew_cache" || /opt/homebrew/bin/brew -nt "$_brew_cache" ]]; then
    /opt/homebrew/bin/brew shellenv >! "$_brew_cache"
  fi
  source "$_brew_cache"
else
  echo "you need to install brew, duh"
fi

# try, which is a symlink in ~/.local/bin
if (( $+commands[try] )); then
  eval "$(try init --path=~/Code/experiments)"
fi

# sheldon plugin manager
if (( $+commands[sheldon] )); then
  eval "$(sheldon source)"
fi

# Load starship, for the ps1 prompt
if (( $+commands[starship] )); then
  eval "$(starship init zsh)"
fi

# load direnv
if (( $+commands[direnv] )); then
  eval "$(direnv hook zsh)"
fi

# auto-reshim after any mise command that changes installed tools
if (( $+commands[mise] )); then
  mise() {
    command mise "$@"
    local ret=$?
    case "${1:-}" in
      install|uninstall|use|prune|upgrade|up)
        command mise reshim
        ;;
    esac
    return $ret
  }
fi

# Use atuin to save shell history
if (( $+commands[atuin] )); then
  eval "$(atuin init zsh --disable-up-arrow)"
fi

# Prefix history search on Up/Down. These need to go after atuin init.
# up and down search history when there is a character on the line.
autoload -U up-line-or-beginning-search down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search
bindkey "^[[A" up-line-or-beginning-search    # Up
bindkey "^[OA" up-line-or-beginning-search
bindkey "^[[B" down-line-or-beginning-search  # Down
bindkey "^[OB" down-line-or-beginning-search

# >>> minimal >>>
[ -f "$HOME/.minimal/shim/shell-init/zsh.sh" ] && . "$HOME/.minimal/shim/shell-init/zsh.sh"
# <<< minimal <<<

{{- if .work.enabled }}
# persona managed zshrc for the npq wrapper
[ -f "$HOME/.zshrc" ] && . "$HOME/.zshrc"
{{- end }}

# Load all the completion stuff from a separate file.
source "$ZDOTDIR/completion.zsh"
