# ~/.config/zsh/rc.d/50-aliases.zsh
#
# One-liner aliases. Shell functions live in 55-functions.

alias cz='chezmoi'
alias k='kubectl'
alias kn='kubens'
alias kx='kubectx'
alias ls='ls --color=auto'
alias lsl='ls -hal --color=auto'
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias tf='terraform'
alias vg='rg --vimgrep'
alias wget='wget --no-hsts'

if (( $+commands[nvim] )); then
  alias vim='nvim'
fi

{{ if eq .osid "darwin" -}}
alias bo='brew update && brew outdated'
alias flushdns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'
alias ls='gls --color=auto --hyperlink=auto'
alias lsl='gls --color=auto -halG --hyperlink=auto'

if (( $+commands[fd] )); then
  alias dsstore='fd --hidden --glob ".DS_Store" --exec-batch rm -rf'
else
  alias dsstore='find . -name .DS_Store -exec rm -rf {} \;'
fi
{{- end }}

{{- if .workMode }}
# work (persona) stuff
alias cpa='cd {{ .chezmoi.homeDir }}/Code/persona-access'
alias cpi='cd {{ .chezmoi.homeDir }}/Code/persona-infrastructure'
alias cpk='cd {{ .chezmoi.homeDir }}/Code/persona-kubernetes'
alias cpw='cd {{ .chezmoi.homeDir }}/Code/persona-web'
alias dcom='docker compose'
alias mg='make generate && git status'
alias tflint='tflint -c {{ .chezmoi.homeDir }}/.config/tflint/config.hcl'

# get a shell on a random proxysql pod
alias proxycore='k exec deployments/proxysql-core -it -c proxysql -- /bin/bash'
alias proxysatellite='k exec deployments/proxysql-satellite -it -c proxysql -- /bin/bash'
alias proxyshell='f() { kubectl exec $1 -it -c proxysql -- /bin/bash };f'
{{- end }}
