# ~/.config/git/config

# Some parts of this rely on the git-delta package from homebrew
[user]
  name = Nick Kuzmik
{{- if eq .chezmoi.hostname "adro" }}
  email = nick.kuzmik@withpersona.com
{{- else }}
  email = nick@kuzmik.org
{{- end}}

[add.interactive]
  useBuiltin = false # required for git 2.37.0

[alias]
  # since we use a mixture of main/master, this oughta make it easier
  main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
  com = "!f(){ git checkout $(git main-branch) $@;}; f"
  comp = "!f(){ git checkout $(git main-branch) $@;}; f; git pull"
  remotesh = remote set-head origin --auto
  st = status
  co = checkout
  br = branch
  undo = reset --soft HEAD~1
  yolo = "!f() { git commit --amend --no-edit -a && git push --force-with-lease; }; f"
  rb = "!f() { git fetch --all && git rebase -i origin/$(git main-branch); }; f"

  # i don't use any of this, but am keeping it around anyway
  out = log origin..HEAD
  changed = diff --name-status -r
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  au = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  ch = diff --name-status -r
  ignored = "!git ls-files --others --exclude-standard"
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
  lastauthor = log -1 --format='%Cgreen%an <%ae>'
  publish = push -u
  hist = log --pretty=format:\"%C(yellow)%h %ad%Creset | %s%C(bold red)%d%Creset [%C(bold blue)%an%Creset]\" --graph --date=short
  pf = push --force-with-lease
  nit = commit --amend --no-edit

[apply]
  whitespace = warn

[branch]
  autosetupmerge = true
  sort = -committerdate # new

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

# [column]
#   ui = auto

[commit]
  template = /Users/nick/.config/git/gitmessage
  verbose = true

[core]
  editor = ~/.local/bin/git-editor.sh
  excludesfile = ~/.config/git/ignore
  pager = "f() { if which delta>/dev/null; then pre=delta; else pre=cat; fi; $pre | less --tabs=4 -RFX;  }; f"

[delta]
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  navigate = true    # use n and N to move between diff sections

[diff]
  algorithm = histogram   # new
  colorMoved = plain      # new
  indentHeuristic = on    # new
  mnemonicPrefix = true   # new
  renames = true

[fetch]
  all = true
  prune = true
  pruneTags = true

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  summary = true
  conflictstyle = zdiff3

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  config = default
  default = simple
  followTags = true

[rebase]
  autosquash = true
  autoStash = true
  updateRefs = true

[remote "origin"]
  prune = true

[rerere]
  autoupdate = true
  enabled = true

[status]
  showUntrackedFiles = all

[tag]
  sort = version:refname
